# ========================================
# APP CONFIGURATION - Frontend
# ========================================
PORT=3000
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3010

# ========================================
# API / BACKEND CONFIGURATION
# ========================================
NEXT_PUBLIC_API_BASE_URL=http://localhost:3020/api

# ========================================
# DATABASE (opsional)
# ========================================
# DATABASE_URL=postgresql://user:password@localhost:5432/task_timesheet_db
